@font-face {
    font-family:"Barlow" ;
    src: url(/public/fonts/Barlow-Bold.ttf);
    font-weight: 600;
}
@font-face {
    font-family:"Barlow" ;
    src: url(/public/fonts/Barlow-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family:"Fraunces" ;
    src: url(/public/fonts/Fraunces/static/Fraunces_144pt-Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family:"Fraunces" ;
    src: url(/public/fonts/Fraunces/static/Fraunces_9pt_SuperSoft-Regular.ttf);
    font-weight: 600;
}
